	<!-- Login後のNavigationBar -->
	<login-nav></login-nav>
	<div class="row">
		<div class="col s12 m3 l3">
			<!-- ユーザ情報の表示 -->
			<div class="card">
				<!-- ユーザの画像 -->
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="images/yeoman.png">
				</div>
				<div class="card-content">
					<!-- ユーザ名 -->
					<span class="card-title activator grey-text text-darken-4">ふぇれっと<i class="material-icons right">more_vert</i></span>
					<ul style="display:block;width:100%">
					<!-- フォローフォロワー情報 -->
						<li style="display:block;float:left;width:50%">
							follow
						</li>
						<li style="display:block;float:left;width:50%">
							follower
						</li>
						<li style="display:block;float:left;width:50%">
							100
						</li>
						<li style="display:block;float:left;width:50%">
							210
						</li>	
					</ul>
					&nbsp;
				</div>
				<!-- ユーザのプロフィール -->
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Profile<i class="material-icons right">close</i></span>
					<p>
					</p>
				</div>
			</div>
			
			<!-- 各種ページの遷移メニューの表示 -->
			<ul class="collection with-header" style="margin-top:12px;">
				<li class="collection-header"><a href="./#/mypage/user_info"><h6>ふぇれっと</h6></a></li>
				<li><a href="./#/mypage" class="collection-item">タイムライン</a></li>
				<li><a href="./#/mypage/music_search" class="collection-item">曲を探す</a></li>
				<li><a href="./#/mypage/myplaylist" class="collection-item">MyMusic</a></li>
				<li><a href="./#/mypage/myplaylist" class="collection-item">MyPlayList</a></li>
				<li><a href="./#/mypage/favoriteplaylist" class="collection-item">FavoriteMusic</a></li>
				<li><a href="./#/mypage/favoriteplaylist" class="collection-item active">FavoritePlayList</a></li>
			</ul>
		</div>
		<div class="col s12 m9 l9">
			<!-- FavoritePlayListの表示 -->
			<ul class="collection with-header">
				<li class="collection-header">FavoritePlayList</li>
				<li class="collection-item avatar">
					<img src="images/yeoman.png" alt="" class="circle">
					<span class="title" style="font-weight:bold">ZEDD</span>
					<p>
						Clarity, Rude feat MAGIC! etc... 
					</p>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle">folder</i>
					<span class="title" style="font-weight:bold">アニソンまとめ</span>
					<p>
						味楽るミミカナンバーワン, コネクト, モノクローム etc...
					</p>
				</li>
			</ul>
		</div>
	</div>
	
	<script>
	$(function(){
		$(document).ready(function(){
		});
	});
	</script>