	<!-- Login後のNavigationBar -->
	<login-nav></login-nav>
	<div class="row">
		<div class="col s12 m12 l12 blue lighten-5">
			<div style="width:20%">
				<!-- ユーザ情報の表示 -->
				<div class="card">
					<!-- ユーザの画像 -->
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/yeoman.png">
					</div>
					<div class="card-content">
						<!-- ユーザ名 -->
						<span class="card-title activator grey-text text-darken-4">ふぇれっと<i class="material-icons right">more_vert</i></span>
						<ul style="display:block;width:100%">
						<!-- フォローフォロワー情報 -->
							<li style="display:block;float:left;width:50%">
								follow
							</li>
							<li style="display:block;float:left;width:50%">
								follower
							</li>
							<li style="display:block;float:left;width:50%">
								100
							</li>
							<li style="display:block;float:left;width:50%">
								210
							</li>	
						</ul>
						&nbsp;
					</div>
					<!-- ユーザのプロフィール -->
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Profile<i class="material-icons right">close</i></span>
						<p>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m3 l3">
			<!-- 各種ページの遷移メニューの表示 -->
			<ul class="collection with-header" style="margin-top:12px;">
				<li><a href="./#/" class="collection-item active">MyMusic</a></li>
				<li><a href="./#/" class="collection-item">MyPlayList</a></li>
				<li><a href="./#/" class="collection-item">FavoriteMusic</a></li>
				<li><a href="./#/" class="collection-item">FavoritePlayList</a></li>
				<li><a href="./#/" class="collection-item">Like</a></li>
			</ul>
		</div>
		<div class="col s12 m9 l9">
						
			<!-- タイムライン -->
			<ul class="collection">
				<li class="collection-item avatar">
					<img src="images/yeoman.png" alt="" class="circle">
					<span class="title" style="font-weight:bold">ふぇれっと</span>
					<p>
						Maroon5のSugerって曲めっちゃいいよ！！<br>
						https://www.youtube.com
					</p>
					<!--<a href="#!"><i class="material-icons">grade</i></a>-->
					<ul style="display:block">
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">playlist_add</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">thumb_up</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">chat_bubble_outline</i>2</a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">launch</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
						</li>
					</ul>
					&nbsp;
					<!--<a href="#!"><i class="material-icons">library_music</i></a>-->
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle">folder</i>
					<span class="title">Title</span>
					<p>First Line <br>
					 Second Line
					</p>
					<!--<a href="#!"><i class="material-icons">grade</i></a>-->
					<ul style="display:block">
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">playlist_add</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">thumb_up</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">chat_bubble_outline</i>2</a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">launch</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
						</li>
					</ul>
					&nbsp;
					<!--<a href="#!"><i class="material-icons">library_music</i></a>-->
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle green">insert_chart</i>
					<span class="title">Title</span>
					<p>First Line <br>
						Second Line
					</p>
					<!--<a href="#!"><i class="material-icons">grade</i></a>-->
					<ul style="display:block">
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">playlist_add</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">thumb_up</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">chat_bubble_outline</i>2</a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">launch</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
						</li>
					</ul>
					&nbsp;
					<!--<a href="#!"><i class="material-icons">library_music</i></a>-->
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle red">play_arrow</i>
					<span class="title">Title</span>
					<p>First Line <br>
						Second Line
					</p>
					<!--<a href="#!"><i class="material-icons">grade</i></a>-->
					<ul style="display:block">
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">playlist_add</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">thumb_up</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">chat_bubble_outline</i>2</a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">launch</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
						</li>
					</ul>
					&nbsp;
					<!--<a href="#!"><i class="material-icons">library_music</i></a>-->
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle red">play_arrow</i>
					<span class="title">Title</span>
					<p>First Line <br>
						Second Line
					</p>
					<!--<a href="#!"><i class="material-icons">grade</i></a>-->
					<ul style="display:block">
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">playlist_add</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">thumb_up</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">chat_bubble_outline</i>2</a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">launch</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
						</li>
					</ul>
					&nbsp;
					<!--<a href="#!"><i class="material-icons">library_music</i></a>-->
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle red">play_arrow</i>
					<span class="title">Title</span>
					<p>First Line <br>
						Second Line
					</p>
					<!--<a href="#!"><i class="material-icons">grade</i></a>-->
					<ul style="display:block">
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">playlist_add</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">thumb_up</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">chat_bubble_outline</i>2</a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">launch</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
						</li>
					</ul>
					&nbsp;
					<!--<a href="#!"><i class="material-icons">library_music</i></a>-->
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle red">play_arrow</i>
					<span class="title">Title</span>
					<p>First Line <br>
						Second Line
					</p>
					<!--<a href="#!"><i class="material-icons">grade</i></a>-->
					<ul style="display:block">
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">playlist_add</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">thumb_up</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">chat_bubble_outline</i>2</a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">launch</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
						</li>
					</ul>
					&nbsp;
					<!--<a href="#!"><i class="material-icons">library_music</i></a>-->
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle red">play_arrow</i>
					<span class="title">Title</span>
					<p>First Line <br>
						Second Line
					</p>
					<!--<a href="#!"><i class="material-icons">grade</i></a>-->
					<ul style="display:block">
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">playlist_add</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">thumb_up</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">chat_bubble_outline</i>2</a>
						</li>
						<li style="display:block;float:left;width:20%">
							<a href="#!"><i class="material-icons">launch</i></a>
						</li>
						<li style="display:block;float:left;width:20%">
						</li>
					</ul>
					&nbsp;
					<!--<a href="#!"><i class="material-icons">library_music</i></a>-->
				</li>
			</ul>
		</div>
	</div>
	
	<script>
	$(function(){
		$(document).ready(function(){
			$('#comment').trigger('autoresize');
			$('textarea#comment').characterCounter();
		});
	});
	</script>